*{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #000000, #35013F, #561050, #35013F, #000000);
}
h1{
    text-align: center;
    color: white;

}
ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center; 
    width: fit-content;      
 }
 ul li{
     position: relative;
     float: left;
     border-bottom: 1px solid black;
     margin-right: 1px;
 }
 ul li a{
     display: block;
     text-decoration: none;
     color: white;
     background: black;
     padding: 5px;
     border-bottom: 0;
     width: 150px;
 }
 ul li ul{
     display: none;
     position: absolute;
 }
 ul li:hover ul{
     width: 150px;
     display: block; 
 }